<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.song %}{{ page.song }}{% endif %}{% if page.artist %} by {{ page.artist }} - {% endif %}{{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css?v=1">
    <link rel="stylesheet" href="/css/main.css?v=1">
</head>

<body>
    {{ content }}
    <p class="swhc-credits">An <a href="http://luchauer.com/">Erik Luchauer</a> Joint</p>
    {% include analytics.html %}
</body>
</html>
