---
layout: default
---

<div class="swhc-post-wrap">
    <h1 class="swhc-post-title">{{ page.title }}</h1>
    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_w_mpw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fsongwithhand-20%2F8014%2F24a9672b-5406-4063-9e60-10c9db8c1d1c&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?rt=tf_w_mpw&ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fsongwithhand-20%2F8014%2F24a9672b-5406-4063-9e60-10c9db8c1d1c&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>    
    <p><a href="http://www.amazon.com/dp/{{ page.amazonId }}?tag=songwithhand-20">View song on Amazon!</a></p>
</div>

